@import '../../index.scss';

.gpt3__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 3rem;
}

.gpt3__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gpt3__navbar-links_logo {
    margin-right: 2rem;
}

.gpt3__navbar-links_logo img{
    width: 62px;
    height: 16px;
}

.gpt3__navbar-links_container {
    display:flex;
    flex-direction: row;
}

.gpt3__navbar-sign {
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.gpt3__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.gpt3__navbar-links_container p ,
.gpt3__navbar-sign p,
.gpt3__navbar-menu_container p {
    @include default-font();
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize; 
    margin: 0 1rem;
    cursor: pointer;
}

.gpt3__navbar-sign  button,
.gpt3__navbar-menu_container button {
    @include default-font();
    padding: 0.5rem 1rem;
    font-weight: 500px;
    font-size: 18px;
    border:none;
    outline:none;
    cursor:pointer;
    color: white;
    background: #ff4820;
    border-radius: 5px;
}

.gpt3__navbar-menu {
    margin-left: 1rem;

    cursor :pointer;
    display:none;
    position: relative;
    }

.gpt3__navbar-menu_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: end;
    background-color: $color-footer;
    padding: 2rem;
    position:absolute;
    top: 30px;
    right:0;
    margin-top: 1rem;
    width:300px;
    border-radius:5px;
    box-shadow: 0 0 5 rgba(0,0,0,0.2);
}

.gpt3__navbar-menu_container-links p a {
    margin: 1rem 0;
}

.gpt3__navbar-menu_container-links-sign {
    display:none;
}

@media screen and (max-width: 1050px) {
.gpt3__navbar-links_container {
    display:none;
}

.gpt3__navbar-menu {
    display:flex;
}
}